<mat-card>
    <h1>Add new Category</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form action="">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input type="text" name="title" matInput placeholder="Enter here">
                        </mat-form-field>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>