<mat-card>
    <mat-list>
        <div mat-subheader>
            All Catagories
        </div>
        <mat-list-item *ngFor="let c of catagories">
            <mat-icon mat-list-icon>
                category
            </mat-icon>
            <div mat-line>
                {{c.title}}
            </div>
            <div>
                {{c.description}}
            </div>
            <mat-divider></mat-divider>
        </mat-list-item>

        <div class="container text-center mt20">
            <button routerLink="/admin/add-catagory" mat-raised-button color="accent">Add New Category</button>
        </div>
    </mat-list>
</mat-card>